:root {
  /* #0B0F10 */
  --bg-l: 0.1645;
  --bg-c: 0.0067;
  --bg-h: 214.52;

  /* #E6F4EA */
  --fg-l: 0.954;
  --fg-c: 0.0199;
  --fg-h: 154.9;

  /* #84CC16 */
  --accent-l: 76.81%;
  --accent-c: 0.2044;
  --accent-h: 130.85;

  /* Background Color */
  --bg: oklch(var(--bg-l) var(--bg-c) var(--bg-h));

  /* Foreground/Text Color */
  --fg: oklch(var(--fg-l) var(--fg-c) var(--fg-h));

  /* Accent Color */
  --accent: oklch(var(--accent-l) var(--accent-c) var(--accent-h));

  /* Fonts */
  --font-display: 'Lora', sans-serif;
  --font-body: 'Poppins', sans-serif;

  /* Border Decorations */
  --border-decoration: 2px solid oklch(var(--fg-l) var(--fg-c) var(--fg-h) / .3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: calc(100vh - 4rem);
}

body {
  background-color: var(--bg);
  color: var(--fg);

  max-width: 1200px;
  margin: 3rem 6rem;

  font-family: var(--font-body);

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
  font-weight: 700;
}
