:root {
  --bg-l: 0.146;
  --bg-c: 0;
  --bg-h: 0;

  --fg-l: 0.9702;
  --fg-c: 0;
  --fg-h: 0;

  /* Background Color */
  --bg: oklch(var(--bg-l) var(--bg-c) var(--bg-h));

  /* Foreground/Text Color */
  --fg: oklch(var(--fg-l) var(--fg-c) var(--fg-h));

  --accent: oklch(var(--fg-l) var(--fg-c) var(--fg-h) / 0.5);

  /* Fonts */
  --font-display: "Poppins", sans-serif;
  --font-body: "Lora", sans-serif;
}

@media(prefers-color-scheme: dark) {
  :root {
    --bg: oklch(var(--fg-l) var(--fg-c) var(--fg-h));
    --fg: oklch(var(--bg-l) var(--bg-c) var(--bg-h));
    --accent: oklch(var(--bg-l) var(--bg-c) var(--bg-h) / 0.5);
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --bg: oklch(var(--fg-l) var(--fg-c) var(--fg-h));
    --fg: oklch(var(--bg-l) var(--bg-c) var(--bg-h));
    --accent: oklch(var(--bg-l) var(--bg-c) var(--bg-h) / 0.5);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;

  background-color: var(--bg);
  color: var(--fg);

  font-family: var(--font-body);

  width: clamp(250px, 95vw, 1200px);
  margin: 2rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: color ease-in-out 150ms;
}

a:hover {
  color: var(--fg);
}

.container__column {
  display: flex;
  flex-direction: column;
}

.gap__4rem {
  gap: 4rem;
}

.gap__2rem {
  gap: 2rem;
}

.gap {
  gap: 1rem;
}

.gap__sm {
  gap: 0.5rem;
}

.margin__top--sm {
  margin-top: 0.5rem;
}

.margin__bottom--sm {
  margin-bottom: 0.5rem;
}

.color__accent {
  color: var(--accent);
}
