@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #b4c3ae; /* Muted Sage Green */
	--color-background: #1c1917; /* Stone 900 */
	--color-surface: #292524; /* Stone 800 */
	--color-text: #e7e5e4; /* Stone 200 */
	--color-text-secondary: #a8a29e; /* Stone 400 */
	--color-accent: #e6a29a; /* Muted Terracotta */

	--font-display: 'Syne', sans-serif;
	--font-body: 'Space Grotesk', sans-serif;

	--radius-lg: 0.75rem;
	--radius-xl: 1rem;
	--radius-2xl: 1.5rem;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' 0,
		'opsz' 24;
}
